header{
    padding: 0px;
    margin: 0px;
    background-color: #b1e4eb;
    position: sticky; /* Set the header to fixed position */
    top: 0px; /* Position at the top of the page */
    width: 100%; /* full width */
    overflow: auto;
}

#main{
    overflow: auto;
    max-width: 1600pxs;
}

body {
    margin: 0px;
}

.headerTitle{
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    /* center the header text */
    text-align: center;
    
}
.nav {
    margin: 5px 0px;
	padding: 5px 10px;
	text-align: center;
	background-color: #b1e4eb;
	border:solid;
    border-width: 1px;
    overflow: auto;
}

.nav-button nav{
    color: #000000;
    border-radius: 1px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    cursor: pointer;    
}

.nav-search .nav{
    background-color: #60cedd;
}

.left-aligned{
    float: left;
    align-self: center;
    align-content: center;;

}

.right-aligned{
    float: right;
    align-self: center;
    align-content: center;;

}

.container-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    align-items: center;

}

.container-posts{
    align-content: center;
    overflow: auto;
}

.post{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

#post_new{
    background-color: rgb(213, 213, 213);
    margin:auto;
    width: 30%;
    border: 2px rgb(0, 0, 0);
    padding: 10px;
}